.wrapper {
  margin: 30px auto;
  max-width: 800px;
  padding: 20px;
  background-color: black;
}

header {
  float: left;
  color: white;
  background-color: black;
  text-align: center;
  text-decoration: overline;
  padding: 30px 0 0;
  border-bottom: solid;
}

footer {
  border-top: solid;
  clear: both;
  background-color: black;
}

.page {
  float: right;
  background-color: black;
  width: 70%;
  border-left: solid;
  padding-left: 1.5em;
  padding-bottom: 2em;
  min-height: 400px;
}

.custom {
  font-family: Courier;
  color: white;
  font-size:20px;
}

aside {
  float: left;
  width: 25%;
  margin-top: 1em;
  background-color: black;
}

nav ul {
  list-style-type: none;
  padding: 0;
  background-color: black;
}

nav li {
  margin-bottom: 1em;
  background-color: black;
}

nav .active {
  font-weight: bold;
  background-color: black;
}
